<!--Header-->
            <nav class="page-header z-depth-3">
                <div class="nav-wrapper">
                    <a id="logo-container" href="#" class="brand-logo hide-on-med-and-down">materialcss</a>
                    <ul class="left">
                        <li class="hide-on-large-only"><a href="javascript:void(0)" id="toggle-left-sidebar" class="hrz-menu waves-effect waves-default"><i class="material-icons">menu</i></a></li>

                        <!--notifications list-->
                        <li><a href="javascript:void(0)" class="hrz-menu dropdown-button dropdown-belowOrigin waves-effect waves-default" data-activates="notification-list-dropdown"><i class="material-icons">notifications</i><span id="notification-cout">25</span></a><ul id="notification-list-dropdown" class="width-400 dropdown-content">
                        <li>
                            <a href="#!">
                                <i class="material-icons">email</i>
                                <p class="noti-message">New mail from jhon<span>15 minutes ago</span></p>
                            </a>
                        </li>

                        <li>
                            <a href="#!">
                                <i class="material-icons">chat</i>
                                <p class="noti-message">New member John joined<span>25 minutes ago</span></p>
                            </a>
                        </li>

                        <li>
                            <a href="#!">
                                <i class="material-icons">perm_identity</i>
                                <p class="noti-message">New mail from jhon<span>30 minutes ago</span></p>
                            </a>
                        </li>

                        <li>
                            <a href="#!">
                                <i class="material-icons">chat</i>
                                <p class="noti-message">New member John joined<span>1 hour ago</span></p>
                            </a>
                        </li>

                        <li>
                            <a href="#!" class="view-all-noti">
                        See All
                    </a>
                        </li>


                    </ul></li>

                        <!--app list-->
                        <li><a href="javascript:void(0)" class="hrz-menu dropdown-button dropdown-belowOrigin waves-effect waves-default" data-activates="app-list-dropdown"><i class="material-icons">apps</i></a><ul id="app-list-dropdown" class="dropdown-content">
                        <li class="app-list-wrapper m-t-15">
                            <a href="#!"><i class="material-icons">polymer</i><span>Polymer</span></a>
                            <a href="#!" class="right"><i class="material-icons">import_contacts</i><span>Contact</span></a>
                        </li>

                        <li class="app-list-wrapper">
                            <a href="#!"><i class="material-icons">email</i><span>Email</span></a>
                            <a href="#!" class="right"><i class="material-icons">ondemand_video</i><span>Video</span></a>
                        </li>

                        <li class="app-list-wrapper">
                            <a href="#!"><i class="material-icons">bug_report</i><span>Bug Report</span></a>
                            <a href="#!" class="right"><i class="material-icons">voicemail</i><span>Voicemail</span></a>
                        </li>
                        <li class="app-list-more">
                            <a href="#!">More</a>
                        </li>
                    </ul></li>

                        <!--full width menu list-->
                        <li class="hide-on-small-only"><a href="javascript:void(0)" class="hrz-menu dropdown-button dropdown-belowOrigin waves-effect waves-default" data-activates="full-menu-dropdown">Full menu<i class="material-icons inline">arrow_drop_down</i></a><div id="full-menu-dropdown" class="full-menu dropdown-content">
                        <div class="row p-a-15">
                            <div class="col s6 m3 l2">
                                <h5 class="full-menu-title">Material UI</h5>
                                <a>Buttons</a>
                                <a>Badges</a>
                                <a>Breadcrumbs</a>
                                <a>Collections</a>
                                <a>Collapsibles</a>
                            </div>

                            <div class="col s6 m3 l2">
                                <h5 class="full-menu-title">CSS</h5>
                                <a>Typography</a>
                                <a>Icons</a>
                                <a>Animations</a>
                                <a>Shadow</a>
                                <a>Media</a>
                            </div>

                            <div class="col s6 m3 l2">
                                <h5 class="full-menu-title">Advanced UI</h5>
                                <a>Carousel</a>
                                <a>Range Slider</a>
                                <a>SweetAlert</a>
                                <a>Highlight</a>
                                <a>Cards</a>
                            </div>

                            <div class="col s6 m3 l2">
                                <h5 class="full-menu-title">Forms</h5>
                                <a>Form Layouts</a>
                                <a>Form Validations</a>
                                <a>Form Masks</a>
                                <a>Text Editor</a>
                                <a>Form Elements</a>
                            </div>

                            <div class="col s6 m3 l2">
                                <h5 class="full-menu-title">Home</h5>
                                <a>Landing Page</a>
                                <a>Change Password</a>
                                <a>Contactus</a>
                                <a>Blank Page</a>
                                <a>Signup</a>
                            </div>

                            <div class="col s6 m3 l2">
                                <h5 class="full-menu-title">Elements</h5>
                                <a>Grid</a>
                                <a>Color</a>
                                <a>widgets</a>
                                <a>Helpers</a>
                                <a>Search Page</a>
                            </div>
                        </div>
                    </div></li>
                    </ul>

                    <!--notifications list dropdown-->
                    
                    <!--notifications app list dropdown-->

                    <!--app list dropdown-->
                    
                    <!--end app list dropdown-->

                    <!--full width menu list dropdown-->
                    
                    <!--full width menu list dropdown-->

                    <ul class="right">
                        <li><a href="javascript:void(0)" class="hrz-menu waves-effect waves-default hide-show-nav-search"><i class="material-icons">search</i></a></li>
                        <!--user account-->
                        <li id="user-account-box"><a href="javascript:void(0)" class="hrz-menu dropdown-button dropdown-belowOrigin dropdown-widthChange waves-effect waves-default" data-activates="user-account-dropdown" style=""><i class="material-icons">account_circle</i></a><ul id="user-account-dropdown" class="dropdown-content" style="white-space: nowrap; position: absolute; top: 50px; left: 1349px; display: none; opacity: 1;">
                        <li><a href="#!"><i class="material-icons">perm_identity</i>My Profile</a></li>
                        <li><a href="javascript:void(0)" class="toggle-right-sidebar"><i class="material-icons">settings</i>Page Customizer</a></li>
                        <li class="divider"></li>
                        <li><a href="#!"><i class="material-icons">lock</i>Lock</a></li>
                        <li><a href="#!"><i class="material-icons">power_settings_new</i>Logout</a></li>
                    </ul></li>

                        <li class="hide-on-small-only"><a href="javascript:void(0)" class="hrz-menu waves-effect waves-default" id="page-refresh"><i class="material-icons">refresh</i></a></li>
                        <li class="hide-on-med-and-down"><a href="javascript:void(0)" class="hrz-menu waves-effect waves-default" id="page-fullscreen"><i class="material-icons">fullscreen</i></a></li>

                        <li class="toggle-right-sidebar"><a href="javascript:void(0)" class="hrz-menu waves-effect waves-default"><i class="material-icons">format_indent_decrease</i></a></li>

                    </ul>

                    <!--user account dropdown-->
                    
                    <!--end user account dropdown-->
                </div>
            </nav>
            <!--End Header-->
