
               <!--Left sidebar-->

            <aside>
                <!-- overlay -->
                <div class="left-sidebar-overlay"></div>
                <div class="left-sidebar z-depth-3">
                    <!-- brand -->
                    <div class="md-logo-container hide-on-large-only theme-bg">
                        <a class="md-brand-logo white-text" href="#">materialcss</a>
                    </div>
                    <!--end brand -->
                    <!--Left sidebar body-->
                    <div class="left-sidebar-body">
                        <!--current subscription user plan -->
                        <div class="current-subscription">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="center">
                                            <span class="current-plan">Business</span>
                                            <span class="price">$49/month</span>
                                        </td>
                                        <td class="center">
                                            <a href="#" class="waves-effect waves-light btn-flat theme-text">UPGRADE</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="divider"></div>
                        <!--End current subscription user plan -->

                        <!--sidebar menu-->
                        <ul class="leftside-navigation">
                            <li class="navigation">Menu</li>
                            <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/dashboard.html" class="menu waves-effect waves-default active tooltipped" data-position="right" data-delay="50" data-tooltip="Dashboard" data-tooltip-id="8977d97e-56f8-2ade-12da-c40069f25097"><i class="material-icons left-icon">dashboard</i>Dashboard</a></li>

                            <li><a href="javascript:void(0)" class="collapsible-label1 waves-effect waves-default tooltipped" data-position="right" data-delay="50" data-tooltip="Material UI" data-tooltip-id="cc471766-cc2f-dc33-fbd8-3f9c53f44d82"><i class="material-icons left-icon">build</i><i class="material-icons right-icon">arrow_drop_down</i>Material UI</a>
                                <ul class="collapsible-body">
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/buttons.html" class="waves-effect waves-default">Buttons</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/breadcrumbs.html" class="waves-effect waves-default">Breadcrumbs</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/collections.html" class="waves-effect waves-default">Collections</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/collapsibles.html" class="waves-effect waves-default">Collapsibles</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/dropdown.html" class="waves-effect waves-default">Dropdown</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/tabs.html" class="waves-effect waves-default">Tabs</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/pagination.html" class="waves-effect waves-default">Pagination</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/preloader.html" class="waves-effect waves-default">Preloader</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/toasts.html" class="waves-effect waves-default">Toasts</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/tooltip.html" class="waves-effect waves-default">Tooltip</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/waves.html" class="waves-effect waves-default">Waves</a></li>
                                </ul>
                            </li>

                            <li><a href="javascript:void(0)" class="collapsible-label1 waves-effect waves-default tooltipped" data-position="right" data-delay="50" data-tooltip="CSS" data-tooltip-id="38f217d6-75df-dd58-0925-7701eba2657d"><i class="material-icons left-icon">library_books</i><i class="material-icons right-icon">arrow_drop_down</i>CSS</a>
                                <ul class="collapsible-body">
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/typography.html" class="waves-effect waves-default">Typography</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/icons.html" class="waves-effect waves-default">Icons</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/animations.html" class="waves-effect waves-default">Animations</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/shadow.html" class="waves-effect waves-default">Shadow</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/media.html" class="waves-effect waves-default">Media</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/pulse.html" class="waves-effect waves-default">Pulse</a></li>
                                </ul>
                            </li>

                            <li><a href="javascript:void(0)" class="collapsible-label1 waves-effect waves-default tooltipped" data-position="right" data-delay="50" data-tooltip="Advanced UI" data-tooltip-id="81933e73-a7a9-34a1-71fd-aaf1802eac4d"><i class="material-icons left-icon">add_to_photos</i><i class="material-icons right-icon">arrow_drop_down</i>Advanced UI</a>
                                <ul class="collapsible-body">
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/chips.html" class="waves-effect waves-default">Chips</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/cards.html" class="waves-effect waves-default">Cards</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/carousel.html" class="waves-effect waves-default">Carousel</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/modals.html" class="waves-effect waves-default">Modals</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/range-slider.html" class="waves-effect waves-default">Range Slider</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/sweetAlert.html" class="waves-effect waves-default">SweetAlert</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/highlight.html" class="waves-effect waves-default">Highlight</a></li>
                                </ul>
                            </li>

                            <li><a href="javascript:void(0)" class="collapsible-label1 waves-effect waves-default tooltipped" data-position="right" data-delay="50" data-tooltip="Charts" data-tooltip-id="3c08dfa9-db0f-6a07-07e5-3c0468ef5166"><i class="material-icons left-icon">insert_chart</i><i class="material-icons right-icon">arrow_drop_down</i>Charts</a>
                                <ul class="collapsible-body">
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/echarts-charts.html" class="waves-effect waves-default">ECharts</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/google-charts.html" class="waves-effect waves-default">Google Charts</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/chartjs-charts.html" class="waves-effect waves-default">ChartJS</a></li>
                                </ul>
                            </li>

                            <li><a href="javascript:void(0)" class="collapsible-label1 waves-effect waves-default tooltipped" data-position="right" data-delay="50" data-tooltip="Forms" data-tooltip-id="10ca25ff-e433-478b-28d9-ea025ff373e3"><i class="material-icons left-icon">message</i><i class="material-icons right-icon">arrow_drop_down</i>Forms</a>
                                <ul class="collapsible-body">
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/form-elements.html" class="waves-effect waves-default">Form Elements</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/form-layouts.html" class="waves-effect waves-default">Form Layouts</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/form-validations.html" class="waves-effect waves-default">Form Validations</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/form-masks.html" class="waves-effect waves-default">Form Masks</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/text-editor.html" class="waves-effect waves-default">Text Editor</a></li>
                                </ul>
                            </li>

                            <li><a href="javascript:void(0)" class="collapsible-label1 waves-effect waves-default tooltipped" data-position="right" data-delay="50" data-tooltip="Tables" data-tooltip-id="103c2ee0-9ad5-76b5-d414-8bb4eb3f44d5"><i class="material-icons left-icon">border_all</i><i class="material-icons right-icon">arrow_drop_down</i>Tables</a>
                                <ul class="collapsible-body">
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/basic-table.html" class="waves-effect waves-default">Basic Tables</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/data-table.html" class="waves-effect waves-default">Data Tables</a></li>
                                </ul>
                            </li>

                            <li><a href="javascript:void(0)" class="collapsible-label1 waves-effect waves-default tooltipped" data-position="right" data-delay="50" data-tooltip="Pages" data-tooltip-id="3b9c8c93-cdf0-37c1-2313-0e99ea993474"><i class="material-icons left-icon">terrain</i><i class="material-icons right-icon">arrow_drop_down</i>Pages</a>
                                <ul class="collapsible-body">
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/login.html" class="waves-effect waves-default">Login</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/signup.html" class="waves-effect waves-default">Signup</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/reset.html" class="waves-effect waves-default">Reset</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/lock.html" class="waves-effect waves-default">Lock</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/change-password.html" class="waves-effect waves-default">Change Password</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/contactus.html" class="waves-effect waves-default">Contactus</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/blank.html" class="waves-effect waves-default">Blank Page</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/404.html" class="waves-effect waves-default">404</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/500.html" class="waves-effect waves-default">500</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/404-admin.html" class="waves-effect waves-default">Dashboard 404</a></li>
                                    <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/500-admin.html" class="waves-effect waves-default">Dashboard 500</a></li>
                                </ul>
                            </li>

                            <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/grid.html" class="waves-effect waves-default tooltipped" data-position="right" data-delay="50" data-tooltip="Grid" data-tooltip-id="2623a6f7-735c-419d-6726-abf04a41c13f"><i class="material-icons left-icon">grid_on</i>Grid</a></li>

                            <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/color.html" class="waves-effect waves-default tooltipped" data-position="right" data-delay="50" data-tooltip="Color" data-tooltip-id="de763629-4186-569c-35eb-d8d0bd6ef89e"><i class="material-icons left-icon">format_color_fill</i>Color</a></li>

                            <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/helpers.html" class="waves-effect waves-default tooltipped" data-position="right" data-delay="50" data-tooltip="Helpers" data-tooltip-id="4d6db4b1-8398-6763-4f4d-7ff9e64557a9"><i class="material-icons left-icon">live_help</i>Helpers</a></li>

                            <li><a href="http://vuelayout.com/materialcss/html-options/fixed-header-unfixed-sidebar/docs.html" class="waves-effect waves-default tooltipped" data-position="right" data-delay="50" data-tooltip="Docs" data-tooltip-id="fe26d0dd-622a-df35-9a85-26fd065a39cc"><i class="material-icons left-icon">book</i>Docs</a></li>



                            <li><a href="javascript:void(0)" class="collapsible-label1 waves-effect waves-default tooltipped" data-position="right" data-delay="50" data-tooltip="Label" data-tooltip-id="d44b9c89-42db-24b6-6a56-9d132e1fd655"><i class="material-icons left-icon">menu</i><i class="material-icons right-icon">arrow_drop_down</i>Label 1</a>
                                <ul class="collapsible-body">
                                    <li><a class="collapsible-label2 waves-effect waves-default"><i class="material-icons left-icon">arrow_drop_down</i>Label 2</a>
                                        <ul class="collapsible-body">
                                            <li><a href="#" class="waves-effect waves-default"> Lebel 2 title</a></li>
                                            <li><a href="#" class="waves-effect waves-default"> Lebel 2 title</a></li>
                                            <li><a href="#" class="waves-effect waves-default"> Lebel 2 title</a></li>
                                            <li><a href="#" class="waves-effect waves-default"> Lebel 2 title</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="#" class="waves-effect waves-default">Label 2</a></li>
                                    <li><a class="collapsible-label2 waves-effect waves-default"><i class="material-icons left-icon">arrow_drop_down</i>Label 2</a>
                                        <ul class="collapsible-body">
                                            <li><a href="#" class="waves-effect waves-default"> Lebel 2 title</a></li>
                                            <li><a href="#" class="waves-effect waves-default"> Lebel 2 title</a></li>
                                            <li><a href="#" class="waves-effect waves-default"> Lebel 2 title</a></li>
                                            <li><a href="#" class="waves-effect waves-default"> Lebel 2 title</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" class="waves-effect waves-default">Lebel 2</a></li>
                                </ul>

                            </li>


                        </ul>
                        <!--End sidebar menu-->
                    </div>

                    <!--End Left sidebar body-->

                    <!--Left sidebar footer-->
                    <div class="sidebar-footer">
                        <a href="javascript:void(0)" id="collapsed-left-sidebar" class="toggle-icon-left-sidebar waves-effect waves-default"><i class="right material-icons">keyboard_arrow_left</i></a>
                    </div>
                    <!--End Left sidebar footer-->
                </div>
            </aside>
            <!--End left sidebar-->