<nav class='menu'>
  <input checked='checked' class='menu-toggler' id='menu-toggler' type='checkbox'>
  <label for='menu-toggler'></label>
  <ul>
    <li class='menu-item'>
      <a class='fa fa-facebook' href='#' target='_blank'>EC</a>
    </li>
    <li class='menu-item'>
      <a class='fa fa-google' href='#' target='_blank'>BCC</a>
    </li>
    <li class='menu-item'>
      <a class='fa fa-dribbble' href='#' target='_blank'>Basis</a>
    </li>
    <li class='menu-item'>
      <a class='fa fa-codepen' href='#' target='_blank'>A2Y</a>
    </li>
    <li class='menu-item'>
      <a class='fa fa-linkedin' href='#' target='_blank'>DMC</a>
    </li>
    <li class='menu-item'>
      <a class='fa fa-github' href='#' target='_blank'>PH</a>
    </li>


  </ul>
</nav>
