 <!--Search box-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <div class="search-overlay hide"></div>
            <div id="search-body" class="z-depth-1">
                <!--Search form-->
                <form class="search-box">
                    <div class="input-field z-depth-1">
                        <!--Search input-->
                        <input id="search" autocomplete="off" required="" type="search">
                        <!--End Search input-->
                        <!--Search icon-->
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <!--End Search icon-->
                        <!--close search box-->
                        <i class="material-icons hide-show-nav-search">close</i>
                        <!--End close search box-->
                    </div>
                </form>
                <!--End Search form-->
                <!--Search result-->
                <div class="search-result">
                    <div class="row">
                        <div class="col s6 m8">
                            <div class="search-result-title">Recent search</div>
                            <ul class="search-result-body m-a-0">
                                <li><a href="#" class="waves-effect waves-default">Form Validations</a></li>
                                <li><a href="#">Range Slider</a></li>
                                <li><a href="#">Animations</a></li>
                                <li><a href="#">Change Password</a></li>
                                <li><a href="#">Breadcrumbs</a></li>
                                <li><a href="#">Collections</a></li>
                            </ul>
                        </div>

                        <div class="col s6 m4">
                            <div class="search-result-title">Most Visited Pages</div>
                            <ul class="search-result-body m-a-0">
                                <li><a href="#" class="waves-effect waves-default">Form Validations</a></li>
                                <li><a href="#">Carousel</a></li>
                                <li><a href="#">Animations</a></li>
                                <li><a href="#">Change Password</a></li>
                                <li><a href="#">Modals</a></li>
                                <li><a href="#">Data Table</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!--End search result-->
            </div>
            <!--Search box-->