        <div class="container">
        <form class="form form-horizontal">
	                    	<div class="form-body">
	                			<div class="form-group row">
		                            <label class="col-md-3 label-control" for="timesheetinput1">Employee Name: </label>
		                            <div class="col-md-9">
			                            <div class="position-relative has-icon-left">
			                            	<input type="text" id="timesheetinput1" class="form-control"  name="employeename">
				                            <div class="form-control-position">
				                                <i class="ft-user"></i>
				                            </div>
			                            </div>
		                            </div>
		                        </div>
	                			<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="timesheetinput2">Project Name: </label>
	                            	<div class="col-md-9">
			                            <div class="position-relative has-icon-left">
			                            	<input type="text" id="timesheetinput2" class="form-control"  name="projectname">
				                            <div class="form-control-position">
				                                <i class="fa fa-briefcase"></i>
				                            </div>
			                            </div>
			                    	</div>
		                        </div>

		                        <div class="form-group row">
	                        		<label class="col-md-3 label-control" for="timesheetinput3">Date: </label>
	                        		<div class="col-md-9">
			                            <div class="position-relative has-icon-left">
			                            	<input type="date" id="timesheetinput3" class="form-control" name="date">
				                            <div class="form-control-position">
				                                <i class="ft-message-square"></i>
				                            </div>
			                            </div>
			                        </div>
		                        </div>

		                    	<div class="form-group row">
	                        		<label class="col-md-3 label-control">Rate Per Hour: </label>
	                        		<div class="col-md-9">
			                            <div class="input-group">
											<div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
											<input type="text" class="form-control"  aria-label="Amount (to the nearest dollar)" name="rateperhour">
											<div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
										</div>
									</div>
		                        </div>

								<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="timesheetinput5">Start Time: </label>
	                            	<div class="col-md-9">
			                            <div class="position-relative has-icon-left">
			                            	<input type="time" id="timesheetinput5" class="form-control" name="starttime">
				                            <div class="form-control-position">
				                                <i class="ft-clock"></i>
				                            </div>
			                            </div>
			                        </div>
		                        </div>

		                        <div class="form-group row">
	                            	<label class="col-md-3 label-control" for="timesheetinput6">End Time: </label>
	                            	<div class="col-md-9">
			                            <div class="position-relative has-icon-left">
			                            	<input type="time" id="timesheetinput6" class="form-control" name="endtime">
				                            <div class="form-control-position">
				                                <i class="ft-clock"></i>
				                            </div>
			                            </div>
			                        </div>
		                        </div>

								<div class="form-group row">
									<label class="col-md-3 label-control" for="timesheetinput7">Notes: </label>
									<div class="col-md-9">
										<div class="position-relative has-icon-left">
			                            	<textarea id="timesheetinput7" rows="5" class="form-control" name="notes" ></textarea>
				                            <div class="form-control-position">
				                                <i class="ft-file"></i>
				                            </div>
			                            </div>
			                        </div>
								</div>
							</div>

	                        <div class="form-actions right">
	                            <button type="button" class="btn btn-raised btn-warning mr-1">
	                            	<i class="ft-x"></i> Cancel
	                            </button>
	                            <button type="button" class="btn btn-raised btn-primary">
	                                <i class="fa fa-check-square-o"></i> Save
	                            </button>
	                        </div>
	                    </form>
					  </div>