    <!--Right sidebar-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <aside>

                <!-- rightsidebar overlay -->
                <div class="right-sidebar-overlay hide"></div>
                <!-- end rightsidebar overlay -->

                <div class="right-sidebar z-depth-3" style="display: none;">

                    <!--right sidebar tab-->
                    <ul class="tabs tabs-fixed-width tabs-right-sidebar">
                        <li class="tab col s3"><a class="active" href="#settings">Settings</a></li>
                        <li class="tab col s3"><a href="#notifications">Notifications</a></li>
                    <li class="indicator"></li></ul>
                    <!--End right sidebar tab-->

                    <!--Right Sidebar body-->
                    <div class="right-sidebar-body">
                        <!--Notification body-->
                        <div id="notifications" style="display: none;">
                            <ul class="content-list">
                                <li>
                                    <a href="#">
                                        <span class="list-title white-text red">ORDER</span>
                                        <span class="list-date">9 hours ago</span>
                                        <h4 class="list-content-title">facilisis</h4>
                                        <p class="list-content">
                                            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
                                        </p>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span class="list-title white-text blue">COMMENT</span>
                                        <span class="list-date">10 hours ago</span>
                                        <h4 class="list-content-title">porta augue</h4>
                                        <p class="list-content">
                                            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
                                        </p>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span class="list-title white-text green">MEETING</span>
                                        <span class="list-date">11 hours ago</span>
                                        <h4 class="list-content-title">Sed libero</h4>
                                        <p class="list-content">
                                            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
                                        </p>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span class="list-title white-text teal">EVENT</span>
                                        <span class="list-date">12 hours ago</span>
                                        <h4 class="list-content-title">sit amet</h4>
                                        <p class="list-content">
                                            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
                                        </p>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span class="list-title white-text red">ORDER</span>
                                        <span class="list-date">13 hours ago</span>
                                        <h4 class="list-content-title">augue</h4>
                                        <p class="list-content">
                                            Etiam auctor porta augue sit amet facilisis. Sed libero nisi, scelerisque.
                                        </p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!--End Notification body-->

                        <!--Settings body-->
                        <div id="settings" class="settings-content active">
                            <h4 class="settings-content-title">Full Layout Options</h4>
                            <p>
                                <input class="with-gap" name="layout" id="default-layout" type="radio">
                                <label for="default-layout">Fixed Header and Sidebar(Default)</label>
                            </p>

                            <p>
                                <input class="with-gap" name="layout" id="fixed-header-unfixed-sidebar" checked="checked" type="radio">
                                <label for="fixed-header-unfixed-sidebar">Fixed Header Unfixed Sidebar</label>
                            </p>

                            <p>
                                <input class="with-gap" name="layout" id="unfixed-header-sidebar" type="radio">
                                <label for="unfixed-header-sidebar">Unfixed Header and Sidebar</label>
                            </p>

                            <h4 class="settings-content-title">Boxed Layout Options</h4>
                            <p>
                                <input class="with-gap" name="layout" id="default-boxed-layout" type="radio">
                                <label for="default-boxed-layout">Fixed Header and Sidebar</label>
                            </p>

                            <p>
                                <input class="with-gap" name="layout" id="boxed-fixed-header-unfixed-sidebar" type="radio">
                                <label for="boxed-fixed-header-unfixed-sidebar">Fixed Header Unfixed Sidebar</label>
                            </p>

                            <p>
                                <input class="with-gap" name="layout" id="boxed-unfixed-sidebar-header" type="radio">
                                <label for="boxed-unfixed-sidebar-header">Unfixed Header and Sidebar</label>
                            </p>
                        </div>
                        <!--End Settings body-->
                    </div>
                </div>
                <!--End Right Sidebar body-->
            </aside>
            <!--End right sidebar-->