<!--Footer-->
            <footer class="page-footer">

                <div class="footer-copyright">
                    <div class="left">© 2018 Topjal Inc. All rights reserved.</div>
                    <div class="right"><a href="javascript:void(0)" id="scroll-top-dash" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Go top" data-tooltip-id="5a90b972-bcb1-034f-1f6b-e4b640902e86"><i class="material-icons">arrow_upward</i></a></div>
                </div>
            </footer>
            <!--End footer-->
    