<nav>
  <ul>
    <li>
      <a routerLink="">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
        <a routerLink="about">
          <i class="material-icons">message</i>
        </a>
      </li>
	   <li>
        <a routerLink="team">
          <i class="material-icons">supervised_user_circle</i>
        </a>
      </li>
	   <li>
        <a routerLink="contact">
          <i class="material-icons">message</i>
        </a>
      </li>
	   <li>
        <a routerLink="service">
          <i class="material-icons">supervised_user_circle</i>
        </a>
      </li>
  </ul>
</nav>